<h1>Tasks</h1>
<div id="app">
  <div>
    <div>
      New task text: <input type="text" v-model="newTaskText">
      <button v-on:click="createTask()">Create task</button>
    </div>  
  </div>

  <h5>{{ numberOfIncompleteTasks() }} tasks left</h5>
  <ul>
    <li
      v-for="task in tasks"
      v-on:click="toggleCompleted(task)"
      v-bind:class="{strike: task.completed}"
    >
      {{ task.text }}
    </li>
  </ul>
  <button v-on:click="deleteCompletedTasks()">Delete completed tasks</button>
</div>
